<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can contact the developer of this application,
  <a href="https://github.com/MarioMNM" target="_blank">Mario Novella Murillo</a>
  by
  <a href="https://www.linkedin.com/in/mario-novella-murillo/" target="_blank">LinkedIn</a>.
</p>