<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This is an app made on Ruby on Rails following the 
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
  You can contact the developer of this application 
  <a href="https://github.com/MarioMNM">Mario Novella Murillo</a>
  by
  <a href="https://www.linkedin.com/in/mario-novella-murillo/">LinkedIn</a>.
</p>