<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This is an app made on <a href="https://guides.rubyonrails.org/7_0_release_notes.html">Ruby on Rails 7</a>.
  You can contact the developer of this application,
  <a href="https://github.com/MarioMNM">Mario Novella Murillo</a>
  by
  <a href="https://www.linkedin.com/in/mario-novella-murillo/">LinkedIn</a>.
</p>