@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$main-background-color: #566573;
$second-background-color: #808B96;
$light-grey: #D3D3D3;
$second-font-color: #A7ADB2;
$button-color: #34495E;
$button-hover-color: #2E4053;
$delete-color: #212F3D;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */
body {
  padding-top: 60px;
  background-color: $main-background-color;
  color: white;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  background-color: $second-background-color;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

a {
  color: white;
  &:hover {
    color: white;
  }
} 

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $light-grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: $light-grey;
  text-decoration: none;
  }
}

/* header */
.navbar {
  background-color: #1C2833;
}

.dropdown-menu {
  background-color: $second-background-color;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $second-background-color;
  color: #D5D8DC;
  a {
    color: #ABB2B9;
    &:hover {
      color: #ABB2B9;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* vertical bars */
.feed {
  border-left: 1px solid $second-background-color;
  padding-left: 15px;
  border-right: 1px solid $second-background-color;
}

.microposts-title {
  border-left: 1px solid $second-background-color;
  padding-left: 15px;
  border-right: 1px solid $second-background-color;
}

.comment-text-area {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  border-top: 1px solid $second-background-color;
  border-left: 1px solid $second-background-color;
  border-right: 1px solid $second-background-color;
  border-bottom: 1px solid $second-background-color;
}

.microposts {
  border-bottom: 1px solid $second-background-color;
}



/* jumbotron */
.jumbotron {
  background-color: $second-background-color;
  color: white;
  h2 {
    color: white;
  }
}

/* sidebar */
aside {
  section.user_info {
  margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    p {
      color: white;
      font-size: 1.1em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 5px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: white;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
  
/* Dropdown menu */
.dropdown-menu.active {
  display: block;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.delete-user {
  color: $delete-color;
  &:hover {
    color: $delete-color;
  }
}

/* microposts */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $second-background-color;
    border-left: 1px solid $second-background-color;
    padding-left: 15px;
    border-right: 1px solid $second-background-color;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $second-font-color;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.field textarea {
  background-color: $second-background-color;
}

.name {
  color: white;
  &:hover {
    color: white;
  }
}

.delete-micropost {
  color: $delete-color;
  &:hover {
    color: $delete-color;
  }
}

.link-view-profile {
  color: $second-font-color;
  &:hover {
    color: $second-font-color;
  }
}

.microposts-count {
  color: $second-font-color;
}

.comment-link-like {
  padding-left: 16px;
  color: $button-hover-color;
  &:hover {
    color: $button-hover-color;
  }
}

.comment-link-unlike {
  padding-left: 9px;
  color: $button-hover-color;
  &:hover {
    color: $button-hover-color;
  }
}

.comments-count-like {
  padding-left: 27px;
}

.comments-count-likes {
  padding-left: 20px;
}

/* comments */
.comments {
  list-style: none;
  padding: 35;
  li {
    padding: 10px 0;
    border-top: 1px solid $second-background-color;
    border-left: 1px solid $second-background-color;
    padding-left: 15px;
    border-right: 1px solid $second-background-color;
    border-bottom: 1px solid $second-background-color;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $second-font-color;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/* search bar */
.search-bar {
  padding-top: 14px;
  input {
    background-color: $second-background-color;
  }
}

/* search table */
table thead th { color: white; font-size:15pt; }

/* buttons */
.btn-primary {
  background-color: $button-color;
  color: #737C86;
  &:hover { 
    background-color: $button-hover-color; 
    color: #737C86;
  }
}

#btn_unfollow {
  background-color: $second-background-color;
  color: #4A4F54;
  &:hover { 
    background-color: #757F89; 
    color: #4A4F54;
  }
}

/* edit users image */
.profile-link {
  color: white;
}

/* pagination */
.pagination > li > a
{
    background-color: $second-background-color;
    color: $button-color;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: $button-hover-color;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: $button-color;
    border: solid 1px $button-color;
}

.pagination > .active > a:hover
{
    background-color: $button-hover-color;
    border: solid 1px $button-hover-color;
}

/* like */
.buttonToUnlike {
  background-color: $button-color;
  border: none;
  float: left;
}

.buttonToLike {
  background-color: $button-color;
  border: none;
  float: left;
}

.buttonToLikePadding{
  padding-left: 6px;
}


.likes-count-unlike {
  color: $second-font-color;
  padding-left: 9px;
}

.likes-count-like {
  color: $second-font-color;
  padding-left: 16px;
}